@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#index {
    padding: 2em;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
    padding: 4em 0 0 0;
    margin-bottom: 1em;
}

#index section:first-of-type {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}

#index section:first-of-type h1 {
    font-weight: 800;
    font-size: 2.8em;
    margin-bottom: .5em;
}

#index section:first-of-type article>p {
    color: #4e4e4e6;
    margin-bottom: 1em;
}

#index section:first-of-type figure img {
    max-width: 325px;
    border-radius: 100%;
    margin-top: 2em;
}

#index section:nth-of-type(2) h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

#index section:nth-of-type(2)>p {
    color: #4e4e4e;
}

#index section:nth-of-type(2)>article {
    margin: 2em 0 3.5em 0;
    padding: 2em 2em 0 2em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

#index section:nth-of-type(2)>article p:last-of-type {
    margin: 2em 0 1em 0;
}

#index section:nth-of-type(2)>article a {
    color: #000;
    font-weight: 500;
}

body a i {
    margin-left: .5em;
    transition: 0.3s ease-in-out;
}

body a:hover i {
    margin-left: 1em;
}

#index section:nth-of-type(2)>article figure {
    width: 100%;
    margin: 3em auto -4px auto;
    text-align: center;
}

#index section:nth-of-type(2)>article figure img {
    width: 60%;
}

#index section:nth-of-type(2) article:first-of-type {
    background-color: #534D7C;
    color: #fff;
}

#index section:nth-of-type(2) article:nth-of-type(1) {
    background-color: #F69E65;
    color: #000;
}

#index section:nth-of-type(2) article:nth-of-type(2) {
    background-color: transparent;
    color: #000;
    border: 1px solid #b8b8b8;
}

#index section:nth-of-type(2) article:nth-of-type(3) {
    background-color: #278043;
    color: #fff;
}

#index section:nth-of-type(2) article:nth-of-type(4) {
    background-color: #554B7B;
    color: #fff;
}

#index section:nth-of-type(2) article:nth-of-type(5) {
    background-color: #ededed;
    color: #000;
}

#index section:nth-of-type(2)>article:nth-of-type(4) figure img {
    position: relative;
    top: 1.2em;
}

#index section:nth-of-type(2)>article:nth-of-type(3) figure,
#index section:nth-of-type(2)>article:nth-of-type(4) figure {
    margin: 0 auto;
    padding: 2em 0;
}

#index section:nth-of-type(2)>article:nth-of-type(3) figure img {
    width: 80%;
}

#index section:nth-of-type(2) article:nth-of-type(3) a,
#index section:nth-of-type(2) article:nth-of-type(4) a {
    color: #fff;
}

footer {
    padding: 2em 0 1em 0;
    text-align: center;
}

footer ul {
    margin: 2em 0;
    padding-inline-start: 0;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

footer i {
    color: #000;
    margin: 0 0.2em;
    transition: 0.3s;
}

footer i:hover {
    color: #0D315A;
}


/* Projectpagina's */
body:not(#index)>section:not(:nth-of-type(2)) {
    padding: 2em;
}

body:not(#index)>section:first-of-type {
    margin-top: 3em;
    padding: 2em;
}

body:not(#index)>section h1 {
    font-size: 3em;
}

body:not(#index)>section p {
    color: #4e4e4e;
}

body:not(#index)>section h2 {
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 1em;
    padding-bottom: .5em;
}

body:not(#index)>section:first-of-type article body:not(#index)>section p {
    max-width: 100%;
}

body:not(#index)>section:first-of-type article div:first-of-type p {
    margin-bottom: 2em;
    color: #4e4e4e;
}

body:not(#index)>section:first-of-type article div:first-of-type a {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}

#links {
    display: flex;
    margin:0 !important;
    width:100% !important;
}

#links a:first-child {
    margin: 0 2em 0 0;
}

body:not(#index)>section:nth-of-type(2) {
    height: 100%;
    background-color: #F5F5F5;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

body:not(#index)>section:nth-of-type(2) img {
    height: 250px;
    margin: 1em;
}

#isometric {
    height: 100% !important;
}

@media only screen and (min-width: 768px) {
    #index section:nth-of-type(2) article {
        max-width: 80%;
    }
}

@media only screen and (min-width: 992px) {

    header {
        margin-bottom: 0em;
    }

    #index section:first-of-type {
        flex-direction: row;
        align-items: center;
    }

    #index section:nth-of-type(2),
    #index section:first-of-type {
        max-width: 1100px;
        margin: 0 auto;
    }

    #index section:nth-of-type(2)>article {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
    }

    #index section:nth-of-type(2)>article figure {
        margin: 0 auto -4px auto;
    }

    #index section:nth-of-type(2)>article:nth-of-type(3) figure,
    #index section:nth-of-type(2)>article:nth-of-type(4) figure {
        padding: 1em;
    }

    #index section:nth-of-type(2)>article figure img {
        width: 50%;
    }

    body:not(#index)>section:first-of-type {
        text-align: center;
        padding-top: 2em;
    }

    body:not(#index)>section:first-of-type article {
        display: flex;
        max-width: 60%;
        margin: 3em auto 5em auto;
        text-align: left;
        justify-content: center;
    }

    body:not(#index)>section:first-of-type article div {
        width: 50%;
        margin: 0em auto auto 3em;
    }

    body:not(#index)>section:nth-of-type(3) {
        display: flex;
        justify-content: space-between;
        width: 65%;
        margin: 0 auto;
        align-items: flex-start;
    }

    body:not(#index)>section:nth-of-type(3) article {
        width: 80%;
        margin: 0 0 0 4em;
    }

    body:not(#index)>section:nth-of-type(2) img {
        height: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        padding: 0;
    }

    #index section:first-of-type {
        padding: 5em 0;
    }

    #index section:first-of-type h1 {
        font-weight: 800;
        font-size: 3.6em;
        margin-bottom: .5em;
    }

    #index section:first-of-type>article {
        max-width: 70%;
    }

    #index section:first-of-type article>p {
        color: #4e4e4e;
        margin-bottom: 1em;
        max-width: 65%;
    }

    #index section:first-of-type figure img {
        max-width: 465px;
    }

    #index section:nth-of-type(2)>article {
        padding: 2em 2em 0 5em;
    }

    #index section:nth-of-type(2) article:nth-of-type(2) {
        padding: 3em 2em 3em 5em;
    }

    #index section:nth-of-type(2) h2 {
        font-size: 2.7em;
    }

    #index section:nth-of-type(2)>article figure img {
        width: 40%;
    }

    #index section:nth-of-type(2)>article:nth-of-type(3) figure img {
        width: 55%;
    }

    #index section:nth-of-type(2) article:nth-of-type(3)>div {
        padding-bottom: 2.5em;
    }

    body:not(#index)>section:first-of-type article div {
        margin: 0em auto auto 6em;
    }

    body:not(#index)>section:nth-of-type(3) article {
        width: 50%;
        margin: 0 3em 0 5em;
    }

    body:not(#index)>section:nth-of-type(2) {
        height: 500px;
    }

    body:not(#index)>section:nth-of-type(2) img {
        height: 350px;
    }
}

@media only screen and (min-width: 1600px) {

    #index section:first-of-type,
    #index section:nth-of-type(2) {
        max-width: 1200px;
        margin: 0 auto;
    }

    #isometric {
        flex-direction:initial !important;
    }

    body:not(#index)>section:nth-of-type(2) {
        height: 600px;

    }

    body:not(#index)>section:nth-of-type(2) img {
        height: 500px;
    }
}